<!DOCTYPE html>
{% extends 'myapp/base/studentbase.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Batches.</title>
        <link href="{% static 'css/class.css' %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body style="text-align: center">
    <h1>Welcome To Online Python Training</h1><br>
    <form>{% csrf_token %}
    <table align="center">
        <tr>
            <th><h4>Institute Name</h4></th>
            <th><h4>Faculty Name</h4></th>
            <th><h4> New Batches</h4></th>
            <th><h4> Duration</h4></th>
            <th><h4> Class Timings</h4></th>
            <th><h4> Free Demo </h4></th>
        </tr>
        {% for course in CourseDetails %}
        <tr>
            <a href="{{ course.get_absolute_url }}"></a>
            <td>{{ course.Institute_Name }}</td>
            <td>{{ course.Faculty_Name }}</td>
            <td>{{ course.New_Batche }}</td>
            <td>{{ course.Duration }}</td>
            <td>{{ course.Class_Timings }}</td>
            <td><a href=" {{ course.Free_Demo_Video }}">Attend Demo</a></td>
        </tr>
        {% endfor %}
    </table>
    </form>
{% endblock %}
</body>
</html>