<!DOCTYPE html>
<html lang="en">
{% extends 'myapp/base/frontbase.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="text-align:center; top:5%" >
<h1 style="margin-top: 10%">Welcome to Big Class</h1>
<h2> Are You Student Please Register following Link<a href="/student/register/">Click Here</a>
<h2> Are You Register for Institute Please following Link <a href="/institute/register/" >Click Here</a>
</h2></h2>
{% endblock %}
</body>
</html>