<!DOCTYPE html>
{% extends 'myapp/base/studentbase.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0">

        <title>TimeToLearn Design by BILLU</title>
        <link rel="icon" href="{% static 'images/BigClasses-Logo.png' %}" sizes="16x16" type="image/png">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Bootstrap Dropdown Hover CSS -->


    </head>
    <body>
    <!-- navbar content end -->
    <div class="container">
        <div class="col-md-8 col-sm-12 header-left">
            <div class="heading">
                <h1>Online Demo Reading</h1>
                <hr style="width:300px; float:left; margin:10px 0 10px 0; text-align: center ">
                <br><br>
            </div>
            <ul>
                <li>Gain unbeatable knowledge when your choose best Institute & Faculty .</li>
                <li>Race ahead in the recruitment race.</li>
                <li>Take your career to whole new heights with TimeToLearn - we proved N number of institute to you
                    choose the best .
                </li>
                <li>We are providing free online live demo section</li>
                <li>Attend demo anywhere in the world</li>
            </ul>

            <div class="row">
                <div class="offer-price">

                    <div class="col-md-6 col-sm-6">
                        <p>Learn anywhere in world</p>
                    </div>
                    <div class="col-md-6 col-sm-6 demo">
                        <a href="/intupcomingdemo/"><p>Attend Free Demo</p></a>
                    </div>

                </div>
            </div>

        </div>

    </div>

    </div>


    <!-- header content start -->

    <!-- upcoming demo  -->
    <div class="row up-coming-info">
        <div class="col-md-12 col-sm-12">
            <div class="container">
                <p style="text-align: center">Welcome to Digital World &nbsp;

            </div>
            </p>

        </div>
    </div>
    </div>
    <!-- upcoming demo  -->

    <!-- comparisons section -->
    <div class="compare-section" id="compare">
    <div class="row compare">
        <div class="container">
            <div class=" col-sm-12 compare-left">
                <h2 style="text-align: center; margin-left: 10%"><u>Who Can Learn To Join a Course?</u></h2>
                <p style="text-align: center">First visit TimeToLearn website for attend free live class room demo
                    then you can choose best
                    faculty and best institute
                    You can attend demos following course:</p>


                <div class="col-md-5 compare-left" style="margin-left:%">
                    <ul class="big-class-list"><h3 style="margin-left: -8%"><u>Programming Course's</u></h3>
                        <li> C Programing</li>
                        <li> Java</li>
                        <li> Python</li>
                        <li> .Net</li>
                        <li> PHP</li>
                        <li>UI/UX</li>
                    </ul>
                    <ul class="big-class-list">
                        <h3 style="margin-left: -8%"><u>Big Data</u></h3>
                        <li> Hadoop</li>
                        <li> Python Spark</li>
                        <li> Data Science</li>

                    </ul>

                    <h3 style="margin-top: 30%;">Prerequisites of the TimeToLearn:</h3>
                    <p>A person going for Online Live Demo must have been knowledge of who teach subject how to
                        teaching and attend demo on student location
                        then easy to choose best Institute's and Faculty</p>
                </div>
                <div class="col-md-5 col-sm-8 compare-center" style="margin-top: 1%;margin-left: -5%">


                    <h3><u>Cloud Service's</u></h3>
                    <ul class="big-class-list">
                        <li>AWS</li>
                        <li>Salesforce</li>
                        <li>DevOps</li>
                        <li>Google Cloud</li>
                        <li>OpenStack</li>
                        <li> Azure</li>
                    </ul>
                    <h3 style="margin-left: -8"><u>Design Course's</u></h3>

                    <ul class="big-class-list">
                        <li>UI/UX</li>
                        <li>Photoshop</li>
                    </ul>

                    <div class="col-md-5 col-sm-12 compare-right" style="margin-top: -102%;margin-left: 90% ">

                        <h3><u>Databases</u></h3>
                        <ul class="big-class-list">
                            <li>SQL</li>
                            <li>MySQL</li>
                            <li>Oracle</li>
                            <li>MongoDB</li>
                            <li>Teradata</li>
                            <li> Apache</li>
                        </ul>
                        <h3><u>Testing</u></h3>
                        <ul class="big-class-list">
                            <li>Selenium</li>
                            <li>Automation</li>
                            <li>MobileApp</li>
                            <li>Manual</li>
                            <li>Performance</li>
                            <li> Software</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- comparisons section -->

    <!-- about section -->

    <div class="row about" id="about">
        <div class="container">

            <h2>ABOUT <span>TimeToLear</span></h2>
            <hr style="width:80px;  color:#ddd;">
            <br>
            <div class="compare">
                <p>
                    Now a days Software IT courses are an excellent choice to help advance your career. ...
                    Information technology courses cover a wide range of topics but some themes include software
                    applications, hardware, programming, security, business applications, design, artificial
                    intelligence, databases, medical records, and others.


                </p>

                <p> TimeToLearn is proved Online Demo's to find best institute for Training and growing extensively due
                    to its increase in productivity.
                    It supports the Object Oriented Programming to develop advanced applications and provides
                    high-level
                    of
                    Institutes.</p>
                <br>
            </div>
        </div>
    </div>


    <!-- slider section -->
    <div class="row slider">
        <div class="video_overlay">
            <h1>Reviews</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-carousel" data-slide-to="1" class=""></li>
                            </ol>

                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner">

                                <!-- Quote 1 -->
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>“Python Training from BigClasses has taught me quite an important coding
                                                and
                                                has helped me get a perfect job at a perfect company. I am thankful to
                                                the
                                                Python Trainer who has taught the course excellently”</p>
                                            <small><strong>Venkat M., Trainee</strong></small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Quote 2 -->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>“I was a front-end developer for a few years. I learned Python from
                                                BigClasses. I applied for self-paced learning. I was working as a
                                                front-end
                                                developer in the morning, and I learned Python in the evening. I have
                                                successfully transformed my career and I am getting highly paid.”</p>
                                            <small><strong>Raghu k., Employee</strong></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slider section -->
    <!-- form section -->
    <!-- form section -->
    <!-- footer section -->
    <div class="row footer-section">
        <div class="container">
            <div class="col-md-4">
                <h3>About Bigclasses</h3>
                <br>
                <p>TimeToLearn website creating for students and institutes purpose. Now a days N number of institutes
                    are
                    available.So student are not finding institutes.So we are providing free online demo's for easy to
                    find institute's and to join successfully gain knowledge </p>
            </div>
            <div class="col-md-4" style="margin-left: 10%">
                <h5>Location</h5>
                <p>#Flot no-203,H.no-8-4-38117, Anand Nagar,
                    Erragada, Hyderabad
                    Telangana, India - 500018.</p>

                <br><br>
                <p>Phone: +(91) 8500-989-198</p>
                <p>Email:
                    <a href="mailto:info@timetolearn.com" target="_top">info@timetolearn.com</a>
                </p>
            </div>
        </div>
    </div>
    <!-- footer section -->
    <!-- bottom footer -->
    <div class="row botttom-footer">

    </div>

    <!-- bottom footer -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <script>
        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
            // Avoid following the href location when clicking
            event.preventDefault();
            // Avoid having the menu to close when clicking
            event.stopPropagation();
            // Re-add .open to parent sub-menu item
            $(this).parent().addClass('open');
            $(this).parent().find("ul").parent().find("li.dropdown").addClass('open');
        });
    </script>

{% endblock %}
</body>
</html>

